:root {
    --alturaBarra: 25px;
    --bordaBarra: 1px solid black; 
}

body, header, main, article, footer, div, p{
    margin: 0;
    border: 0;
    padding: 0;
}

    #titulo {
        text-align: center;
    }
    #placar{
        text-align: center;
        margin: 0 auto;
        width: 80vw;
        font-size: 1.5em;
    }
    
    #main {
        display: flex;
        justify-content: space-around;
        width: 80vw;
        border: var(--bordaBarra);
        margin: 0 auto;
        padding: 20px 0;
    }
    .win{
        font-size: 2em;
        color: greenyellow;
        font-weight: bold;
    }
    .torre{
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    width:200px;
    height:15rem;
    background: rgb(221, 221, 221);
    border: var(--bordaBarra);
    }

    .barra{
        border-radius: 5px;
    }
    #barra100 {
        background: rgb(11, 133, 0);
        border: var(--bordaBarra);
        width: 20%;
        height: var(--alturaBarra);
    }
    #barra75{
        background: blueviolet;
        border: var(--bordaBarra);
        width: 40%;
        height: var(--alturaBarra);
    
    } 
    #barra50{
        background: rgb(51, 89, 196);
        border: var(--bordaBarra);
        width: 60%;
        height: var(--alturaBarra);
    
    } 
    
    #barra25{
        background: red;
        border: var(--bordaBarra);
        width: 80%;
        height: var(--alturaBarra);
    }
    @media screen and (min-width: 425px) {
        body {
            background-color: rgb(124, 100, 110);
        }
        #main {
          max-width: 800px;
          padding: 1em;
        }
        .torre{
            border: none;
            background: rgb(141, 141, 141);
        }
      }